/*
The next project is to analyze the HR data and provide insights into the current workforce composition and survey results. The data is stored in several CSV files, which include information about departments, employees, survey questions, survey rounds, and survey responses.

In the departments.csv the information is related to the different departments:
- department_id (primary key)
- department_name
- cost_center
- head_count_target

In the employees.csv the information is related to the employees:
- employee_id (primary key)
- department_id (foreign key to departments.department_id)
- first_name
- last_name
- job_title
- hire_date
- employment_status
- work_location

The survey.csv files are related to the different surveys done around the year, it questions and responses the employee responses:

In the question_scores.csv the information is related to the scores that the employees gave to the survey questions:
- score_id 
- response_id (connected to survey_responses.response_id)
- question_id
- score

In the survey_questions.csv contains 19 questions and the information is related to the survey questions:
- question_id (connected to question_scores.question_id)
- category
- question_text
- is_active


In the survey_rounds.csv :
- survey_id (connected to survey_responses.survey_id)
- survey_name
- survey_type
- launch_date
- close_date

In the survey_responses.csv is connected to which survey :
- response_id (connected to question_scores.response_id)
- survey_id (connected to survey_rounds.survey_id)
- employee_id  (foreign key to employees.employee_id)
- would_recommend
- submitted_at
- comment



1. Before the next board meeting, we want to make sure we have a clear  picture of where we stand on hiring. 
Can you pull together a view of our current headcount situation across each team?*/


SELECT departments.department_name AS department,
COUNT(employees.employee_id) AS amount_of_employees
FROM employees
LEFT JOIN departments ON employees.department_id = departments.department_id
WHERE employees.hire_date IS NOT NULL
GROUP BY departments.department_id, departments.department_name
ORDER BY amount_of_employees DESC;


/*2. HR has asked for a quick snapshot of our workforce composition — nothing too detailed,
just a breakdown of where people currently stand in terms of their employment with us.*/
SELECT job_title AS title, COUNT(employee_id) AS amount_of_employees
FROM employees
WHERE hire_date IS NOT NULL AND employment_status = 'active'
GROUP BY job_title
ORDER BY amount_of_employees DESC;
